Flask
alembic
aniso8601
attrs
blinker
certifi
cffi
charset-normalizer
click
cryptography
dnspython
email-validator
flask-dance
Flask-Login
Flask-Migrate
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
mysqlclient
oauthlib
pycparser
pyOpenSSL
pyrsistent
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
six
SQLAlchemy
urllib3
URLObject
Werkzeug
WTForms
zipp
